<!DOCTYPE html>
<html>
<head>
    <title>Кухня</title>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.cook_btn').click(function(e){
                e.preventDefault();

                $.ajax({
                    type: "POST",
                    url: "{{ '/web/kitchen/products/cook/' }}",
                    data: {
                        product_id: this.id,
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    },
                    dataType: "json",
                    success: function(json) {
                        // todo: set here
                    }
                });
            });
        });
    </script>
</head>
<body>
    {% include 'web/header.html' %}
    <table>
        <tr>
            <th>Имя</th>
            <th>Готовить</th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>
                    <form>
                        <button class="cook_btn" id="{{ product.id }}">
                            Готовить
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>