<!DOCTYPE html>
<html>
<head>
    {% load customized %}
    <title></title>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.change_btn').click(function(e){
                e.preventDefault();

                $.ajax({
                    type: "POST",
                    url: "{{ '/web/%s/menu'|percentage:venue_id|add:'/product/change/status/' }}",
                    data: {
                        venue_product_id: this.id,
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    },
                    dataType: "json",
                    success: function(json) {
                        var jquery_tr_id = '#product_status_' + json.product_id;
                        $(jquery_tr_id).html(json.status);
                    }
                });
            });

            function add_to_price(change, product_id){
                $.ajax({
                    type: "POST",
                    url: "{{ '/web/%s/menu'|percentage:venue_id|add:'/product/change/price/' }}",
                    data: {
                        venue_product_id: product_id,
                        change_in_price: change,
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    },
                    dataType: "json",
                    success: function(json) {
                        var jquery_tr_id = '#product_price_' + json.product_id;
                        $(jquery_tr_id).html(json.price);
                    }
                });
            }

            $('.price_up').click(function(e){
                e.preventDefault();
                add_to_price(parseInt($('#change_in_price_' + this.id).val()), this.id);
            });
            $('.price_down').click(function(e){
                e.preventDefault();
                add_to_price(parseInt($('#change_in_price_' + this.id).val()) * -1, this.id);
            });

            $('.category_delete_btn').click(function(e){
                e.preventDefault();

                $.ajax({
                    type: "POST",
                    url: "{{ '/web/%s/menu'|percentage:venue_id|add:'/category/delete/' }}",
                    data: {
                        category_id: this.id,
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    },
                    dataType: "json",
                    success: function(json) {
                        var jquery_tr_id = '#category_tr_' + json.category_id;
                        $(jquery_tr_id).remove();
                    }
                });
            });

            $('.product_delete_btn').click(function(e){
                e.preventDefault();

                $.ajax({
                    type: "POST",
                    url: "{{ '/web/%s/menu'|percentage:venue_id|add:'/product/delete/' }}",
                    data: {
                        product_id: this.id,
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    },
                    dataType: "json",
                    success: function(json) {
                        var jquery_tr_id = '#product_tr_' + json.product_id;
                        $(jquery_tr_id).remove();
                    }
                });
            });

        });
    </script>
</head>
<body>
    {% include 'web/header.html' %}
    <h3>{{ category.name }}</h3>
    <p>{{ category.description }}</p>
    <div>
        <table style="border-collapse:collapse; width:100%" border="1">
            <tr>
                <th>Название</th>
                <th>Картинка</th>
                <th>Описание</th>
                {% if update %}
                    <th>Изменить</th>
                {% endif %}
                {% if delete %}
                    <th>Удалить</th>
                {% endif %}
            </tr>
            {% for category in children_categories %}
                <tr id="category_tr_{{ category.id }}">
                    <td><a href="{{ '/web/%s/menu'|percentage:venue_id|add:'/%s/category'|percentage:category.id }}">{{ category.name }}</a></td>
                    <td><img src="{{ category.image_url }}"></td>
                    <td>{{ category.description }}</td>
                    {% if update %}
                        <td>
                            <form method="get">
                                <button formaction="{{ '/web/%s/menu'|percentage:venue_id|add:'/%s/category/change/'|percentage:category.id }}">
                                    Изменить
                                </button>
                            </form>
                        </td>
                    {% endif %}
                    {% if delete %}
                        <td>
                            <form>
                                {% csrf_token %}
                                <button class="category_delete_btn" id="{{ category.id }}">
                                    Удалить
                                </button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
    {% if create %}
        <br>
        <div>
            <form method="get">
                <button formaction="{{ '/web/%s/menu'|percentage:venue_id|add:'/%s/category/create'|percentage:category.id }}">
                    Добавить категорию
                </button>
            </form>
        </div>
    {% endif %}
    {% if category.parent %}
        <div>
            <a href="{{ '/web/%s/menu'|percentage:venue_id|add:'/%s/category'|percentage:category.parent.id }}">На уровень выше</a>
        </div>
        <br>
    {% endif %}
    <div>
        <table style="border-collapse:collapse; width:100%" border="1">
            <tr>
                <th>Название</th>
                <th>Картинка</th>
                <th>Описание</th>
                <th>Цена</th>
                <th>Изменить цену</th>
                <th>Статус</th>
                {% if update %}
                    <th>Изменить статус</th>
                    <th>Изменить</th>
                {% endif %}
                {% if delete %}
                    <th>Удалить</th>
                {% endif %}
            </tr>
            {% for product in products %}
                <tr id="product_tr_{{ product.product.id }}">
                    <td>{{ product.product.name }}</td>
                    <td><img src="{{ product.product.image_url }}"></td>
                    <td>{{ product.product.description }}</td>
                    <td id="product_price_{{ product.id }}">{{ product.price }}</td>
                    <td>
                        <form>
                            {% csrf_token %}
                            <label>Введите число<input type="number" id="change_in_price_{{ product.id }}"></label>
                            <input class="price_up" type="button" value="+" id={{ product.id }}>
                            <input class="price_down" type="button" value="-" id={{ product.id }}>
                        </form>
                    </td>
                    <td id="product_status_{{ product.id }}">{{ status_map|as_dict:product.status }}</td>
                    {% if update %}
                            <td>
                                <form method="get">
                                    <button class="change_btn" id="{{ product.id }}">
                                        Изменить статус
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form method="get">
                                    <button formaction="{{ '/web/%s/menu'|percentage:venue_id|add:'/%s/product/change'|percentage:product.product.id }}">
                                        Изменить
                                    </button>
                                </form>
                            </td>
                        {% endif %}
                        {% if delete %}
                            <td>
                                <form>
                                    {% csrf_token %}
                                    <button class="product_delete_btn" id="{{ product.product.id }}">
                                        Удалить
                                    </button>
                                </form>
                            </td>
                        {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
    {% if create %}
        <br>
        <div>
            <form method="get">
                <button formaction="{{ '/web/%s/menu'|percentage:venue_id|add:'/%s/product/create'|percentage:category.id }}">
                    Добавить продукт
                </button>
            </form>
        </div>
    {% endif %}
</body>
</html>