<!DOCTYPE html>
<html>
<head>
    <title>Выбирите продукты</title>
</head>
<body>
    <h3>Выберите продукты для {{ modifier.name }}</h3>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="modifier_id" value="{{ modifier.id }}" hidden>
        <br>
        {% for product in products %}
             <label>
                 <input type="checkbox" {% if product.has_modifier %} checked {% endif %} name={{ product.id }}>
                 {{ product.name }}
             </label><br>
        {% endfor %}
        <label><input type="submit" value="Сохранить"></label>
    </form>
</body>
</html>