<!DOCTYPE html>
<html>
<head>
    <title>Главная страница</title>
</head>
<body>
    {% include 'web/header.html' %}
    {% load customized %}
    <h3>Главная страница для главы компании</h3>
    <a href="/web/venue/map/">Карта</a>
    <table style="border-collapse:collapse; width:100%" border="1">
        <tr>
            <th>Название</th>
            <th>Адрес</th>
            <th>Статус</th>
            <th>Меню</th>
            <th>Модификаторы</th>
        </tr>
        {% for venue in venues %}
            <tr>
                <td>{{ venue.name }}</td>
                <td>{{ venue.address_name }}</td>
                <td>{{ venue.status }}</td>
                <td>
                    <a href="{{ '/web/%s/menu/'|percentage:venue.id }}">Меню</a>
                </td>
                <td>
                    <a href="{{ '/web/%s/menu/modifiers'|percentage:venue.id }}">Модификаторы</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>